 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 html{
   font-size:10px;
   @media (max-width:990px){
    font-size:8px;
 }
   @media (max-width:780px){
      font-size:7px;
   }
 }
* {
  font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background: #747373;
}
.container{
  max-width: 1180px;
  margin:0 auto;
}